/* re style block quote, also changed github css */
blockquote {
    background-color: #f5f5f5 !important;
    border-left: 5px solid #dbdbdb !important;
    padding: 1.25em 1.5em !important;
}

blockquote p {
    background-color: #f5f5f5 !important;
}

/* re style table */
.markdown-body table tr:hover {
    background-color: #f5f5f5
}

th {
  background-color: #eee;
}

/* style for note tags */
.note-tags {
    color: rgba(44, 63, 81, 0.3)
}

.note-tags code {
    color: rgba(44, 63, 81, 0.5);
    background: rgba(102, 128, 153, 0.075);
    border-radius: 0;
    padding: 2px 5px
}

.note-tags code:empty {
    display: none
}

.note-tags .notebook {
    background: rgba(44, 63, 81, 0.3);
    color: #fff;
    margin-right: 6px
}


/*Math jax*/

.MathJax:focus, .mjx-chtml:focus, .MathJax_SVG:focus {
   outline: none
}

span.mjx-chtml.MJXc-display {
  overflow-x: auto;
  overflow-y: hidden;
}
